<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag "user_login" %>
<% end %>

<div class="login-container">
  <% if flash.notice %>
    <div id="notices"><%= flash.notice %></div>
  <% end %>

  <%= render "login_form" %>
</div>
